@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

/* COLORS  */  
$black: #1a1a1a;
$white: #ffffff;
$gray: #ddd;

/* TYPOGRAPHY  */  
$main-font: "M PLUS 1";




/*   */  
/*   */  
/*   */  
/*   */  