@import './variables';

.app__container {
  background-color: $gray ;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.anime__listing {
  background-color: yellow;
}

.sidebar { 
  background-color: $black;
}