@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

/* COLORS  */
/* TYPOGRAPHY  */
/*   */
/*   */
/*   */
/*   */
.app__container {
  background-color: #ddd;
  height: 100vh;
  font-family: "M PLUS 1", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.page {
  height: 100vh;
}

.search__area {
  border-radius: 55px;
  padding: 30px;
  border: 5px solid #f5f5f5;
  display: inline-flex;
  align-items: center;
  margin: 2rem 0;
  transition: box-shadow 200ms ease-in;
}
.search__area:hover {
  box-shadow: none;
}
.search__area .icon {
  width: 55px;
  cursor: pointer;
}
.search__area .mic__icon {
  width: 0;
  transition: 150ms ease-in;
}
.search__area .search {
  font-size: 20px;
  width: 0;
  transition: 300ms ease-in-out;
  border: 0;
  color: #1a1a1a;
  background: transparent;
  outline: none;
}
.search__area .search:placeholder {
  color: #ddd;
}
.search__area.active {
  box-shadow: 4px 4px 9px rgba(80, 80, 80, 0.151), -4px -4px 9px rgba(95, 95, 95, 0.164);
  border-color: transparent;
}
.search__area.active .search {
  width: 500px;
  padding: 1rem;
}
.search__area.active .mic__icon {
  width: 55px;
}

.anime__listing {
  background-color: #ffffff;
  padding: 2rem;
}
.anime__listing .title__section {
  text-align: center;
  padding: 2rem 0;
}
.anime__listing .title__section h1 {
  font-weight: normal;
}
.anime__listing .listings {
  display: grid;
  gap: 1rem;
  row-gap: 2rem;
  padding-bottom: 2rem;
  grid-template-columns: repeat(3, 2fr);
}
.anime__listing .anime__card {
  background: #1a1a1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  flex: 1 1 10rem;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.anime__listing .anime__card:hover .info {
  transform: translateX(0);
}
.anime__listing .anime__card .info {
  height: 100%;
  padding: 1rem;
  border-radius: 5px;
  position: absolute;
  top: 0%;
  right: 0;
  left: 0;
  bottom: 0;
  transition: transform 200ms ease-in-out;
  background: #1a1a1a;
  transform: translateX(200%);
  color: #ffffff;
}
.anime__listing .anime__card .info section {
  margin-bottom: 1rem;
}
.anime__listing .anime__card .info .sub__title {
  color: #ddd;
  border-left: 2px solid red;
  padding-left: 0.5rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.5rem;
}
.anime__listing .anime__card .anime__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.anime__listing .anime__card .anime__title {
  font-weight: 400;
  border-left: 3px solid red;
  color: #ffffff;
  margin: 1rem 0;
  font-size: 1.2rem;
  padding: 0.3rem 0 0.3rem 0.3rem;
}

.sidebar {
  background-color: #ffffff;
  top: 0;
  left: 0;
}
.sidebar .title__section {
  text-align: center;
  padding: 2rem 0;
}
.sidebar .title__section h1 {
  font-weight: normal;
}
.sidebar .top__list-section {
  margin: 2rem 2rem 4rem 2rem;
}
.sidebar .top__list-section .top__list {
  margin-bottom: 2rem;
  background: #ffffff;
  color: #1a1a1a;
  text-decoration: none;
  font-size: 16px;
  gap: 16px;
  padding: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 20px 2px 30px 4px;
  box-shadow: 4px 4px 9px rgba(80, 80, 80, 0.15), -4px -4px 9px rgba(95, 95, 95, 0.16);
  transition: background 200ms ease-in;
}
.sidebar .top__list-section .top__list:nth-child(2) {
  margin-bottom: 2rem;
}
.sidebar .top__list-section .top__list:hover {
  background: #d9d9d9;
}
.sidebar .top__list-section .top__list img {
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #ddd;
  width: 75px;
}

.empty__list {
  background-color: #ffffff;
  display: inline-block;
  width: 100%;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1rem;
  justify-content: center;
  flex-direction: column;
}
.empty__list h2 {
  font-weight: normal;
}

.header {
  height: 175px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 4px 4px 9px rgba(80, 80, 80, 0.15), -4px -4px 9px rgba(95, 95, 95, 0.16);
  width: 100%;
}
.header .title span {
  font-weight: 200;
}

.footer {
  padding: 3rem 1rem;
  background-color: #ddd;
  color: #1a1a1a;
  margin-top: 2rem;
  text-align: center;
}/*# sourceMappingURL=main.css.map */